nav.navbar.navbar-dark.danger-color.mb-4.pt-2
  a.navbar-brand.text-white(
    href="/"
  ) PERMA-DATA 
  ul.navbar-nav.ml-auto.nav-flex-icons
    li.nav-item.d-none
      .spinner-grow.text-white(
        role="status"
      )
    li.nav-item.mr-4
      style
        include ./navbar.css
      #search-input__form.md-form.my-0
        input#search-input.form-control.text-white.mb-0.pb-0.pt-2(
          type="text"
          placeholder="Recherche"
          value=""
        )
    li.nav-item.mr-3.mt-1
      #auth__user-menu__anchor.text-white
        .spinner-grow.nav-link(
          role="status"
        )