nav.navbar.navbar-dark.danger-color.mb-4
  a.navbar-brand.text-white(
    href="/"
  ) PERMA-DATA 
  ul.navbar-nav.ml-auto.nav-flex-icons
    li.nav-item.d-none
      .spinner-grow.text-white(
        role="status"
      )
    li.nav-item.mr-3
      .input-group.my-0
        input.form-control(
          type="text"
          placeholder="Recherche"
        )
        .input-group-append
          .input-group-text
            a.fas.fa-search
    li.nav-item.mx-3
      a.nav-link(
        title="Connexion"
      )
        span.fas.fa-user