nav.navbar.navbar-dark.danger-color.mb-4
  a.navbar-brand.text-white(
    href="/"
  ) PERMA-DATA 
  ul.navbar-nav.ml-auto.nav-flex-icons
    li.nav-item.d-none
      .spinner-grow.text-white(
        role="status"
      )
    li.nav-item.mr-3
      style
        include ./navbar.css
      #search-form.md-form.my-0
        input.form-control.text-white.mb-0.pb-0.pt-2(
          type="text"
          placeholder="Recherche"
        )
    li.nav-item.mr-3
      a.nav-link(
        title="Connexion"
      )
        span.fas.fa-user