extends ../../layout/layout.pug

block content
  .container-fluid

    .row.justify-content-center
      .col-12.col-md-8.jumbotron
        if (plant.data['name,fr'] && plant.data['name,fr'][0] && plant.id)
          h2.float-right.font-weight-lighter.mb-4.h3(
            style='margin: 0 60px; font-size: 1.2rem'
          )= plant.id
        h1.text-center.font-epic.pt-4(
          style='margin: 60px auto'
        )= (plant.data['name,fr'] && plant.data['name,fr'][0] && plant.data['name,fr'][0].value || plant.id)
        include ./dataBlock/dataBlock

    .row.bg-white.justify-content-center.z-depth-1.mb-4
      .col-12.col-md-8.container(
        style='padding: 60px 60px 45px 60px'
      )
        h2.text-center.font-epic(
          style='margin: 45px 45px 60px 45px'
        ) Plus d'informations
        .row
          .col-12.col-md-6.home-btn-sign-in
            button.btn.btn-outline-dark.w-100.font-weight-light.p-3(
              type='button'
              style='border-color: #7cb342 !important; letter-spacing: 3px'
            ) Connectez-vous
          .col-12.col-md-6.home-btn-sign-up
            button.btn.btn-light.w-100.text-white.font-weight-light.p-3(
              type='button'
              style='background-color: #7cb342 !important; letter-spacing: 3px'
            ) Créez un compte
    
    .row.py-2.justify-content-center
      .col-12.col-md-10.jumbotron
        h2.mb-4 Sources
        include ./sourcesBlock/sourcesBlock

  block scripts
    script(
      type="text/javascript",
      src="/public/bundles/pages/plantId/base.js"
    )
