extends ../../layout/layout.pug

block content
  #home-base.container-fluid

    .row.justify-content-center
      .col-12.col-md-10.jumbotron.text-center
        img(
          src='public/images/pages/home/perma-data-logo.jpg'
          alt='Logo de PERMA-DATA : unité de donnée avec deux branches formatrices et papillons-coeur.'
          style='max-width: 800px'
        )
        h1.mx-auto.pt-4.font-epic.font-weight-bold(
          style='margin-top: 30px'
        ) PERMA-DATA
        h2.mx-auto.mb-3.pt-1.lead.font-weight-lighter La communauté des cultivateurs de savoir

    .row.bg-white.justify-content-center.z-depth-1
      .col-12.col-sm-10.col-md-6.py-5
        h2.h3.font-epic.my-5 Vous aimez les plantes&nbsp;? Vous travaillez avec elles&nbsp;?
        p.font-weight-lighter.mb-5(
          style= 'font-size: 1.4rem'
        )
          b.font-epic PERMA-DATA&nbsp;
          span est un méta-outil ludique et communautaire pour la culture, la recherche et la gouvernance.
          <br/><br/>
          span En explorant sa base-de-données collaborative, vous trouverez toutes les informations utiles pour concevoir votre jardin ou pour n'importe quelle autre activité.
          <br/><br/>
          span Véritablement, le champ des possibles est immense.

    .row.my-4.py-2.justify-content-center
      .col-12.col-md-8
        .card.pt-5.px-5.pb-3
          h2.h3.font-epic.mb-5.px-5.pt-3 Trouvez des informations sur les plantes qui vous intéressent
          #home-search_anchor.md-form.row.justify-content-center
            input.form-control.col-12.col-md-6.font-weight-light(
              style='font-size: 1.2rem; font-family: Roboto, sans-serif'
              type='text'
              placeholder='Tapez le début d\'un nom'
            )
      .col-12.col-md-4.container
        .card.p-5
          .row
            h3.h5.font-weight-light.mb-4.pt-3 Découvrez quelques unes de nos pages :
          .row
            a.col-12(
              href="plant/glechoma%20hederacea"
            ) Lierre terrestre
            a.col-12(
              href="plant/verbena%20officinalis"
            ) Verveine officinale

    .row.bg-white.justify-content-center.z-depth-1
      .col-12.col-md-8
        img.w-100.mt-5(
          src='/public/images/pages/home/infinite-frast.jpg'
        )
        p.font-weight-lighter(
          style='margin: 60px; font-size: 1.4rem'
        ) Il y a tellement de choses à découvrir
          br
          span sur&nbsp;
          b.font-epic PERMA-DATA&nbsp;
          span :
        ul(
          style='margin: 0 60px 45px'
        )
          li.mb-3
            a.font-weight-lighter.text-dark(
              style='font-size: 1.4rem; text-decoration: underline'
              href='#universe'
            ) Immergez-vous dans l'univers épique des &nbsp;
              b.font-epic ZUMS
          li.mb-3
            a.font-weight-lighter.text-dark(
              style='font-size: 1.4rem; text-decoration: underline'
              href='#search'
            ) Personnalisez vos recherches
          li.mb-3
            a.font-weight-lighter.text-dark(
              style='font-size: 1.4rem; text-decoration: underline'
              href='#manage'
            ) Gérez votre stock et vos cultures
          li.mb-3
            a.font-weight-lighter.text-dark(
              style='font-size: 1.4rem; text-decoration: underline'
              href='#contribute'
            ) Alimentez la base-de-données avec vos trouvailles botaniques
          li
            a.font-weight-lighter.text-dark(
              style='font-size: 1.4rem; text-decoration: underline'
              href='#develop'
            ) Contribuez au développement de l'outil

    .row.my-4.py-2.justify-content-center
      .col-12.col-md-10.card.container(
        style='padding: 60px 60px 45px 60px'
      )
        h2.text-center.font-epic(
          style='margin: 45px 45px 60px 45px'
        ) Commencez à améliorer
        .row
          .col-12.col-md-6.home-btn-sign-in
            button.btn.btn-outline-dark.w-100.font-weight-light.p-3(
              type='button'
              style='border-color: #7cb342 !important; letter-spacing: 3px'
            ) Connectez-vous
          .col-12.col-md-6.home-btn-sign-up
            button.btn.btn-light.w-100.text-white.font-weight-light.p-3(
              type='button'
              style='background-color: #7cb342 !important; letter-spacing: 3px'
            ) Créez un compte

    #universe.row.justify-content-center.bg-white.z-depth-1.pt-2.pb-4
      .col-12.col-md-4.container.font-weight-lighter
        h2.text-center.font-epic(
          style='margin: 90px 45px 15px 45px'
        ) L'épopée ZUM
        p.text-right(
          style='margin-top: 60px; font-size: 1.4rem'
        )
          span " L'histoire des&nbsp;
          b.font-epic ZUMS
          br
          span commence sur le plus beau joyau
          br
          span de la couronne du&nbsp;
          b.font-epic SOLN :
        p.text-right(
          style='margin-top: 30px; margin-bottom: 60px; font-size: 1.4rem'
        )
          span "&nbsp;
          b.font-epic TERRA
          span .
      
      .col-12.col-md-6.container.font-weight-lighter
        p(
          style='margin-top: 60px; font-size: 1.2rem'
        )
          span " La&nbsp;
          b.font-epic LIGHF&nbsp;
          span s'y est développée depuis
          br
          span des forms basiques jusqu'à
          br
          span l'apparition spontanée des&nbsp;
          b.font-epic ZUMS
          span .
        p(
          style='margin-top: 30px; font-size: 1.2rem'
        )
          span " La période à laquelle on commence à
          br
          span faire référence aux&nbsp;
          b.font-epic ZUMS
          span ,
          br
          span on l'appelle&nbsp;
          b.font-epic PRIMA-ERA
          span .
        p(
          style='margin-top: 30px; margin-bottom: 60px; font-size: 1.2rem'
        )
          span " C'est le début de la colonisation de
          br
          span l'univers par la&nbsp;
          b.font-epic LIGHF
          span ,
          br
          span avec notamment le recyclage de&nbsp;
          b.font-epic TERRA
          br
          span en la&nbsp;
          b.font-epic FRAST
          span . "
              
    .row.mt-4.py-2.justify-content-center
      .col-12.col-md-8.mb-4
        .card.px-4.pt-2.pb-4
          p.text-right.px-4.font-weight-lighter(
            style='margin-top: 30px; margin-bottom: 30px; font-size: 1.4rem'
          )
            b.font-epic PERMA-DATA&nbsp;
            span c'est aussi le jeu
            br
            span qui raconte l'histoire des&nbsp;
            b.font-epic ZUMS
            span .
          .mx-auto(
            style='margin-bottom: 30px'
          )
            img.w-100(
              src='public/images/pages/home/vaults.jpg'
            )
          p.font-weight-lighter.px-4(
            style='font-size: 1.4rem'
          )
            span Développez votre&nbsp;
            b.font-epic META-CITÉ&nbsp;
            span ,
            br
            span spécialisez vos&nbsp;
            b.font-epic ZUMS
            br
            span et adaptez les outils de&nbsp;
            b.font-epic PERMA-DATA&nbsp;
            span en fonction
            br
            span de vos objectifs d'utilisation :
  
    #search.row.mb-4.justify-content-center.pb-2
      .col-12.col-md-8
        .card.container(
          style='padding: 60px 60px 45px 60px'
        )
          h2.text-center.font-epic(
            style='margin: 45px 45px 60px 45px'
          ) Recherche améliorée !
          .row.justify-content-center
            .col-12.col-md-10.font-weight-lighter(
                style='font-size: 1.4rem'
              )
              p
                span La tribu des&nbsp;
                b.font-epic MIKORIS&nbsp;
                span sont les spécialistes de la recherche d'informations
                br
                span sur les plantes.
              p(
                style='margin-top: 30px'
              )
                span Ils explorent la base-de-données,
                br
                span usant de nombreux filtres, et
                br
                span ressortent la&nbsp;
                b.font-epic DATA&nbsp;
                span la plus pertinente,
                br
                span sous la forme qui vous intéresse.
      .col-12.col-md-4.mb-4
        .card.p-2
          img.w-100(
            src='public/images/pages/home/miko-network.jpg'
          )

    #manage.row.bg-white.justify-content-center.z-depth-1
      .col-12.col-md-8.container
        h2.text-center.font-epic(
          style='margin: 90px 45px 15px 45px'
        ) Inventoriez vos génétiques
        .row.justify-content-center
          .col-12.col-md-8.font-weight-lighter(
              style='margin-top: 60px; margin-bottom: 45px; font-size: 1.4rem'
            )
            p
              span Ne laissez plus vos graines au hasard :
            p(
              style='margin-top: 30px'
            )
              b.font-epic PERMA-DATA&nbsp;
              span vous permet de créer des listes
              br
              span et vous rappelle quand planter vos semences.
            p(
              style='margin-top: 30px'
            )
              span D'années en années,
              br
              span votre jardin est de mieux en mieux géré,
              br
              span ses plantes connues et
              br
              span votre récolte abondante.

    #contribute.row.my-4.py-2.justify-content-center
      .col-12.col-md-10.card(
        style='padding: 60px 60px 30px 60px'
      )
        .row.justify-content-center
          .col-12.col-md-6
            h2.text-center.font-epic(
              style='margin: 60px 45px 15px 45px'
            ) Agradation continue
            p.font-weight-lighter(
              style='margin-top: 30px; margin-bottom: 45px; font-size: 1.4rem'
            )
              span Sur&nbsp;
              b.font-epic PERMA-DATA
              span ,
              br
              span c'est la communauté qui ajoute les données.
          .col-12.col-md-4.text-right.font-weight-lighter(
            style='margin-top: 30px; margin-bottom: 45px; font-size: 1.2rem'
          )
            p
              span Commencez à jouer maintenant et
              br
              span découvrez les&nbsp;
              b.font-epic ESKRATS
              span .
            p(
              style='margin-top: 30px'
            )
              span Oh, cette tribu
              br
              span est l'experte de la collecte et de la
              br
              span synthèse de la&nbsp;
              b.font-epic DATA
              span .
              
    #manage.row.bg-white.justify-content-center.z-depth-1
      .col-12.col-md-8.container
        h2.text-center.font-epic(
          style='margin: 90px 45px 15px 45px'
        ) Allez-y, c'est gratuit !
        .row(
          style='margin-top: 90px; margin-bottom: 60px'
        )
          .col-12.col-md-6.home-btn-sign-in
            button.btn.btn-outline-dark.w-100.font-weight-light.p-3(
              type='button'
              style='border-color: #7cb342 !important; letter-spacing: 3px'
            ) Connectez-vous
          .col-12.col-md-6.home-btn-sign-up
            button.btn.btn-light.w-100.text-white.font-weight-light.p-3(
              type='button'
              style='background-color: #7cb342 !important; letter-spacing: 3px'
            ) Créez un compte
              
    .row.mt-4.py-2.justify-content-center
      .col-12.col-md-8
        .card.px-4.pt-2.pb-4
          p.text-right.px-4.font-weight-lighter(
            style='margin-top: 30px; margin-bottom: 30px; font-size: 1.4rem'
          )
            span Tout ceci est déjà fantastique nous le savons ...
            br
            span mais il existe encore de nombreuses autres
            br
            span tribus dans l'univers de&nbsp;
            b.font-epic PERMA-DATA&nbsp;
            span !
          .row.justify-content-center(
            style='margin-bottom: 30px'
          )
            img(
              src='public/images/pages/home/hol-ong-data-action.jpg'
            )
          p.font-weight-lighter.px-4(
            style='font-size: 1.4rem'
          )
            span Et il se pourrait que vous
            br
            span participiez à en créer de nouvelles.
            
    #develop.row.my-4.pb-2.justify-content-center
      .col-12.col-md-10.card.container(
        style='padding: 60px 60px 45px 60px'
      )
        h2.text-center.font-epic(
          style='margin: 45px 45px 60px 45px'
        ) Open-source et collaboratif
        .row.text-center.justify-content-center
          .col-12
            p.font-weight-lighter.px-4(
              style='font-size: 1.4rem'
            )
              span Oui, vous pouvez contribuer à la conception et au développement de&nbsp;
              b.font-epic PERMA-DATA
              span .
        .row.justify-content-center(
          style='margin-top: 30px'
        )
          .col-12.col-md-8
            a.btn.btn-light.text-white.w-100.font-weight-light.p-3(
              href='https://github.com/Skaant/perma-data-5'
              target='_blank'
              type='button'
              style='background-color: #7cb342 !important; letter-spacing: 3px'
            ) Lien vers le GitHub

    .row.bg-white.justify-content-center.z-depth-1
      .col-12.col-md-8.container
        .row.justify-content-center
          .col-12.font-weight-lighter.px-4(
              style='margin-top: 90px; margin-bottom: 60px; font-size: 1.4rem'
            )
            p
              b.font-epic PERMA-DATA&nbsp;
              span est, et sera, toujours dans un processus d'amélioration continue.
            p.font-weight-lighter(
              style='font-size: 1.4rem; margin-top: 30px'
            )
              span Tenez-vous informés !

  #home-auth.pb-5
    #city__anchor
    #dialog-modal__anchor

block scripts
  script(
    type="text/javascript",
    src="/public/bundles/pages/home/base.js"
  )
