extends ../../layout/layout.pug

block content

  #home-base.pt-4(
    class= 'container pb-5 px-4' + (auth ? ' d-none' : '')
  )

    .row.card.mb-3.mb-sm-5
    
      .col-12
      
        .p-5.text-center

          img(
            src='public/images/pages/home/perma-data-logo.jpg'
            alt='Logo de PERMA-DATA : unité de donnée avec deux branches formatrices et papillons-coeur.'
            style='max-width: 100%'
          )
          h1.font-epic.font-weight-bold.mt-5 PERMA-DATA
          h3.font-weight-lighter.mb-3 La communauté des cultivateurs de savoir

    .row.card.mb-3.mb-sm-5

      .col-12
      
        .p-5

          h2.font-epic.my-5 Une base-de-données sur les plantes
          p.font-weight-light
            b.font-epic PERMA-DATA&nbsp;
            span est un base de connaissance communutaire et ludique pour la culture de plantes, la recherche et la gouvernance.
          p.font-weight-light Issu de sources authentifiées et agrégé par les utilisateurs de l'outil, le savoir stocké ici est l'objet d'un processus d'amélioration continue.
          p.font-weight-light Les notions d'
            b informatique durable
            span , d'
            b expérience utilisateur
            span &nbsp;(ergonomie) ainsi que de 
            b démocratie participative
            span &nbsp;forment l'ADN du projet&nbsp;
            b.font-epic PERMA-DATA&nbsp;
            span : c'est l'orientation donnée à ses évolutions futures.

    .row.flex-row.mb-3.mb-sm-5

      .col-12.col-lg-4.text-center.mb-3.mb-lg-0.px-0.pr-lg-3

        .card.p-5

          .fas.fa-search.fa-6x.text-green.my-4
          h2 Recherche

      .col-12.col-lg-8.px-0

        .card.p-5
      
          h3 Trouvez des informations sur les plantes qui vous intéressent :
          #home-search_anchor.md-form
            input.form-control(
              style='font-size: 1.2rem; font-family: Roboto, sans-serif'
              type='text'
              placeholder='Tapez le début du nom d\'une plante'
            )
          p.font-weight-light Peut-être connaissez-vous l'une des ces plantes :&nbsp;
            a(
              href="plant/glechoma%20hederacea"
            ) Lierre terrestre
            span= ', '
            a(
              href="plant/verbena%20officinalis"
            ) Verveine officinale
            span= ' ?'

    .row.card.mb-3.mb-sm-5

      .col-12
      
        .p-5

          h2.font-epic.my-5 Un jeu pour personnaliser votre expérience
          p.font-weight-light
            b.font-epic PERMA-DATA&nbsp;
            span propose, sous forme de jeu, de nombreuses fonctionnalités pour la gestion des jardins, des connaissances et des groupes de travail.
          p.font-weight-light Créez votre bio-cité, développez votre civilisation écologique et faites évoluer la palette d'outils mis à votre disposition.
          p.font-weight-light Profitez de l'univers riche de&nbsp;
            b.font-epic PERMA-DATA
            span= ' pour vivre une aventure futuriste et grandiose qui vous ménera jusqu\'aux confins de l\'univers.'

    .row.flex-row-reverse.mb-3.mb-sm-5

      .col-12.col-lg-4.text-center.mb-3.mb-lg-0.px-0.pl-lg-3

        .card.p-5

          .fas.fa-trophy.fa-6x.text-green.my-4
          h2 Ludification

      .col-12.col-lg-8.px-0

        .card.p-5
      
          h3 Il suffit d'un compte pour commencer à jouer !
          div.mt-5.mb-4
            button.btn.btn-light.home-btn-sign-up.text-white.ml-0.mr-4(
              type='button'
              style='background-color: #7cb342 !important; letter-spacing: 3px'
            ) Créez un compte
            button.btn.btn-outline-dark.home-btn-sign-in.ml-0(
              type='button'
              style='border-color: #7cb342 !important; letter-spacing: 3px'
            ) Connectez-vous
          p.font-weight-light Avec votre compte, débloquez l'accès à la&nbsp;
            b grainothèque
            span , au&nbsp;
            b calendrier
            span , augmentez et&nbsp;
            b spécialisez les données
            span= ' affichées sur les plantes, créez des '
            b listes filtrées
            span ,&nbsp;
            b inventoriez
            span= ' les plantes de votre jardin ... et bien plus encore !'

    .row.card.mb-3.mb-sm-5

      .col-12.p-5

        h4.my-4.font-epic Il y a tellement de choses à découvrir sur&nbsp;
          b PERMA-DATA
          span ...

        img.w-100(
          src='/public/images/pages/home/infinite-frast.jpg'
          loading= 'lazy'
        )

    .row.flex-row.mb-3.mb-sm-5

      .col-12.col-lg-4.text-center.mb-3.mb-lg-0.px-0.pr-lg-3

        .card.p-5

          .fas.fa-wrench.fa-6x.text-green.my-4
          h2 Développement

      .col-12.col-lg-8.px-0

        .card.p-5
      
          h3
            b.font-epic PERMA-DATA&nbsp;
            span est un projet open-source
          div.mt-5.mb-4.ml-0
            a.btn.btn-light.text-white.ml-0(
              href='https://github.com/Skaant/perma-data-5'
              target='_blank'
              type='button'
              style='background-color: #7cb342 !important; letter-spacing: 3px'
            ) Page d'accueil GitHub
          p.font-weight-light Participez à la conception, au design et au développement du projet pour concrétiser vos idées et entrer dans la communauté officiante de&nbsp;
            b.font-epic PERMA-DATA
            span .

block scripts
  script(
    type="text/javascript",
    src="/public/bundles/pages/home/base.js"
  )
