#sources-block.container
  table.table.table-striped
    thead
      th Titre
      th Informations
    tbody
      each source, key in plant.sources
        tr(
          id= key
        )
          td.col-8.pl-0
            ol.breadcrumb
              li.breadcrumb-item.font-weight-bold= source.title
              each parent in source.parents.slice().reverse()
                li.breadcrumb-item= parent.title
          td.col-4.rounded-right
            - var rootSource = source.parents[0] || source
            if (rootSource.lang)
              p.mb-2 Langue :&nbsp;
                span.font-weight-bold= rootSource.lang
                
            if (rootSource.authors)
              p.mb-2 Auteur(s) :&nbsp;
                span.font-weight-bold= rootSource.authors