doctype html
html(
  style='scroll-behavior: smooth'
)
  head
    title= page.title + ' | PERMA-DATA'
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    meta(
      name="description"
      content= page.description
    )
    include ./styles/styles
    include ./scripts/scripts
    style
      include ../_styles/commons.css
  body.light-green.darken-1
    include ./navbar/navbar
    block content
    #notification-modal_anchor
    #error-modal_anchor
    block scripts