doctype html
html(
  style='scroll-behavior: smooth'
)
  head
    title= page.title + ' | PERMA-DATA'
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    )
    meta(
      name="description"
      content= page.description
    )
    include ./styles/styles
    block styles
    include ./scripts/scripts
  body.light-green.darken-1.position-relative(
    style='min-height: 100vh'
  )
    include ./navbar/navbar
    block content
    .position-absolute.text-right.w-100.pt-3(
      style= 'bottom: 0'
    )
      h5.pr-2.text-right.text-white.font-weight-lighter(
        style='font-size: 1rem'
      ) 
        b.h5.font-epic 2020&nbsp;
        span les copains - développé par 
        a.text-white(
          href='https://www.malt.fr/profile/romaricruga'
          style='text-decoration: underline'
        ) Romaric&nbsp;Ruga
        span , alias&nbsp;
        a.text-white(
          href='https://imrok.fr'
          style='text-decoration: underline'
        )
          b.font-epic IMROK
    #notification-modal_anchor
    #error-modal_anchor
    block scripts