extends ../../layout/layout.pug

block content
  h1 Nom de la plante
  h2 #{ plant.id }
  div
    h3 #{ titles.data }
    div #{ plant.data }
  div
    h3 #{ titles.sources }
    div #{ plant.sources }
