extends ../../layout/layout.pug

block content
  h1.pt-4 #{ titles.page }
  h3.font-weight-lighter.mb-4 #{ plant.id }
  div.pt-4
    h2 #{ titles.data }
    include ./dataBlock/dataBlock
  div.py-4
    h2.mb-4 #{ titles.sources }
    include ./sourcesBlock/sourcesBlock

block scripts
  script(
    type="text/javascript",
    src="/public/bundles/pages/plantId.js"
  )
