nav.navbar.z-depth-0.pt-2.mb-4.py-3
  a.navbar-brand.text-white.font-epic.ml-2(
    href='/'
    style='font-size: 1.75rem'
  ) PERMA-DATA 
  ul.navbar-nav.ml-auto.nav-flex-icons
    li.nav-item.d-none
      .spinner-grow.text-white(
        role="status"
      )
    li.nav-item.mt-0.mr-3
      #search-nav-item.input-bubble.bg-white.md-form.my-0
        input#search-input.form-control.mb-0.pb-0.pt-2.text-green(
          type="text"
          placeholder="Trouvez des plantes"
          value=""
        )
    li.nav-item.mt-0.mr-2
      #auth-nav-item.btn.btn-bubble.btn-white.mt-0.p-0
        .spinner-grow.nav-link.text-green(
          role="status"
        )