nav.navbar.z-depth-0.pt-2.mb-4.pb-3
  a.navbar-brand.text-white.font-epic(
    href='/'
    style='font-size: 1.4rem'
  ) PERMA-DATA 
  ul.navbar-nav.ml-auto.nav-flex-icons
    li.nav-item.d-none
      .spinner-grow.text-white(
        role="status"
      )
    li.nav-item.mr-4
      #search-nav-item.md-form.my-0
        input#search-input.form-control.mb-0.pb-0.pt-2.text-white(
          type="text"
          placeholder="Trouvez des plantes"
          value=""
        )
    li.nav-item.mr-3.mt-1
      #auth-nav-item
        .spinner-grow.nav-link.text-white(
          role="status"
        )