meta(charset="utf-8")
meta(
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
)
meta(
  name="theme-color"
  content="#000000"
)
// if translation.meta && translation.meta.title
meta(
  name="title"
  content="PERMA-DATA"
)
// if translation.meta && translation.meta.description
meta(
  name="description"
  content="PERMA-DATA is a plant database, a collaborative tool, a game and a rich creative universe !"
)