doctype html
html
  head
    title PERMA-DATA - #{ titles.page }
    link(
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    )
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css"
    )
    link(
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.8/css/mdb.min.css"
    )
  body
    nav.navbar.navbar-dark.danger-color
      a.navbar-brand.text-white(
        href="/"
      ) PERMA-DATA 
    block content